## Miscellaneous

.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

## JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm ##

*.iml
.idea/
*.ipr
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

## Android ##

*.apk
*.ap_
*.dex
bin/
gen/
local.properties
proguard/
*.log
*.log.*
app/release
